@use "./../abstracts/variables" as *;

header {
  /* versión mobile del header */
  background-color: $color-one;
  padding-top: $space-8;
  padding-bottom: $space-8;
  .container-header {
    margin: auto;
    width: 80vw;
    text-align: center;
    .logo {
      padding-bottom: $space-5;
    }
    nav {
      font-size: $text-size-xl;
      a {
        color: $color-two;
        padding-bottom: $space-20;
        &:hover {
          color: $color-four;
        }
      }
    }

    .btn-contact-us {
      font-size: $text-size-xl;
      color: $color-two;
      &:hover {
        color: $color-four;
      }
    }
  }
}
