@use "./../abstracts/variables" as *;
@use "./../abstracts/mixins" as *;

header {
  /* versión mobile del header */
  background-color: $color-one;
  padding-top: $space-8;
  padding-bottom: $space-8;
  .container-header {
    margin: auto;
    width: 80vw;
    text-align: center;
    .logo {
      padding-bottom: $space-5;
    }
    nav {
      font-size: $text-size-xl;
      a {
        color: $color-two;
        padding-bottom: $space-20;
        text-transform: capitalize;
        &:hover {
          color: $color-four;
        }
      }
    }

    .btn-contact-us {
      font-size: $text-size-xl;
      color: $color-two;
      text-transform: capitalize;
      &:hover {
        color: $color-four;
      }
    }

    /* Diseño de tablet para el header */
    @include breakpoint(tablet) {
      display: flex;
      justify-content: space-between;
      align-items: center;

      ul {
        display: flex;
        gap: $space-5;
      }

      .btn-contact-us {
        background-color: $color-three;
        color: $color-four;
        padding: $space-5;
        &:hover {
          background-color: $color-five;
        }
      }
    }
  }

  /* Diseño para desktop del header */
  @include breakpoint(desktop) {
    .container-header {
      justify-content: start;
      gap: $space-22;

      ul {
        gap: $space-15;
        a {
          font-weight: 100;
          font-size: $text-size-base;
        }
      }

      .btn-contact-us {
        position: absolute;
        right: 250px;
        padding: $space-6 $space-9;
        background-color: $color-one;
        color: $color-two;
      }
    }
  }
}
