@use "./../abstracts/variables" as *;
@use "./../abstracts/mixins" as *;

/* diseño específico de container */
.container-hero,
.containter-categories {
  margin: auto;
  width: 80vw;
  height: 95vh;
}

#hero {
  /*Versión mobile */
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(./../../img/icon-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  /* Diseño tablet */
  @include breakpoint(tablet) {
    background-position: center center, 0px -115px;
  }
}

.container-hero {
  /* Versión mobile */
  color: $color-two;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: $space-9;

  p:first-of-type {
    text-transform: capitalize;
    font-size: $text-size-xl;
  }

  h1:first-of-type {
    font-size: $text-size-4xl;
    span {
      text-transform: capitalize;
    }
  }

  p:last-of-type {
    font-size: $text-size-xl;
  }

  .btn-Collaborate {
    display: inline-flex;
    background-color: $color-three;
    padding: $space-3 $space-5;
    align-items: center;
    color: $color-four;
    font-size: $text-size-bt;
    text-transform: capitalize;
    &:hover {
      background-color: $color-five;
    }
  }

  /* Diseño tablet */
  p:first-of-type {
    font-size: $text-size-2xl;
  }

  h1:first-of-type {
    font-size: $text-size-5xl;
  }

  p:last-of-type {
    font-size: $text-size-2xl;
  }

  .btn-Collaborate {
    font-size: $text-size-xl;
  }
}

#categories {
  background-color: $color-three;
  .card h2,
  .card p span {
    /* Diseño general */
    text-transform: capitalize;
  }

  .card p {
    color: $color-six;
  }

  /* Diseño mobile */
  .card {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: $space-8;
  }

  .card img {
    padding-top: $space-10;
  }

  /* Diseño tablet */
  @include breakpoint(tablet) {
    .containter-categories {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .card h2 {
      font-size: $text-size-2xl;
    }

    .card p {
      font-size: $text-size-bt;
    }
  }

  /* Diseño tablet horizontal */
  @include breakpoint(tablet_horizontal) {
    .containter-categories {
      flex-direction: row;
      gap: $space-4;
      align-items: center;
      width: 95vw;
    }

    .card h2 {
      font-size: $text-size-3xl;
    }

    .card p {
      font-size: $text-size-bt;
    }
  }
}
