@use "./../abstracts/variables" as *;
@use "./../abstracts/mixins" as *;

/* diseño específico de container */
.container-hero,
.containter-categories {
  margin: auto;
  width: 80vw;
  height: 95vh;
}

/* Diseño desktop */
html,
body {
  @include breakpoint(desktop) {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
}

.container-hero {
  @include breakpoint(desktop) {
    width: 40vw;
    margin: 0;
    margin-left: 10%;
  }
}

body {
  position: relative;
  @include breakpoint(desktop) {
    &::before {
      content: "";
      position: absolute;
      right: 0;
      z-index: 0;
      background-image: url(./../../img/iro-background@2x.jpg);
      background-repeat: no-repeat;
      background-position: right;
      background-size: cover;
      width: 50%;
      height: 100vh;
    }
  }
}

#hero {
  /*Versión mobile */
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(./../../img/icon-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  /* Diseño tablet */
  @include breakpoint(tablet) {
    background-position: center center, 0px -115px;
  }

  /* Diseño desktop */
  @include breakpoint(desktop) {
    background-image: none;
    background-color: $color-one;
  }
}

.container-hero {
  /* Versión mobile */
  color: $color-two;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: $space-9;

  p:first-of-type {
    text-transform: capitalize;
    font-size: $text-size-xl;
  }

  h1:first-of-type {
    font-size: $text-size-4xl;
    span {
      text-transform: capitalize;
    }
  }

  p:last-of-type {
    font-size: $text-size-xl;
  }

  .btn-Collaborate {
    display: inline-flex;
    background-color: $color-three;
    padding: $space-3 $space-5;
    align-items: center;
    color: $color-four;
    font-size: $text-size-bt;
    text-transform: capitalize;
    &:hover {
      background-color: $color-five;
    }
  }

  /* Diseño tablet */
  p:first-of-type {
    font-size: $text-size-2xl;
  }

  h1:first-of-type {
    font-size: $text-size-5xl;
  }

  p:last-of-type {
    font-size: $text-size-2xl;
  }

  .btn-Collaborate {
    font-size: $text-size-xl;
  }

  /* Diseño desktop */
  @include breakpoint(desktop) {
    justify-content: start;
    padding-top: $space-17;

    h1:first-of-type {
      font-size: $text-size-7xl;
    }
  }
}

#categories {
  background-color: $color-three;
  .card h2,
  .card p span {
    /* Diseño general */
    text-transform: capitalize;
  }

  .card p {
    color: $color-six;
  }

  /* Diseño mobile */
  .card {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: $space-8;
  }

  .card img {
    padding-top: $space-10;
  }

  /* Diseño tablet */
  @include breakpoint(tablet) {
    .containter-categories {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .card h2 {
      font-size: $text-size-2xl;
    }

    .card p {
      font-size: $text-size-bt;
    }
  }

  /* Diseño tablet horizontal */
  @include breakpoint(tablet_horizontal) {
    .containter-categories {
      flex-direction: row;
      gap: $space-4;
      align-items: center;
      width: 95vw;
    }

    .card h2 {
      font-size: $text-size-3xl;
    }

    .card p {
      font-size: $text-size-bt;
    }
  }

  /* Diseño desktop */
  @include breakpoint(desktop) {
    position: absolute;
    bottom: 0;
    width: 70vw;

    .containter-categories {
      height: 17em;
      justify-content: start;
      padding-left: $space-15;
    }

    .card .container-text {
      width: 80%;
    }
    .card h2 {
      font-size: $text-size-bt;
    }

    .card p {
      padding-top: $space-5;
      font-size: $text-size-base;
      color: $color-seven;
    }
  }
}
